<footer class="bg-dark text-white rounded-2xl">

<div class="container mx-auto px-14 py-12 ">

<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-12">

<!-- COMPANY -->

<div>

<img
src="assets/images/logo.png"
alt="YantroMitra Logo"
class="h-16 mb-5">

<p class="text-gray-300">

YantroMitra Learning Technologies Private limited
is dedicated to igniting young minds through
STEAM Education, Robotics, AI, Coding,
IoT, Drones and Innovation Labs.

</p>

</div>

<!-- LINKS -->

<div>

<h3
class="font-bold text-xl mb-5">

Quick Links

</h3>

<ul class="space-y-3">

<li><a href="index.html">Home</a></li>
<li><a href="about.html">About</a></li>
<li><a href="gallery.html">Gallery</a></li>
<!-- <li><a href="programs.html">Programs</a></li> -->
<li><a href="contact.html">Contact</a></li>

</ul>

</div>

<!-- PROGRAMS -->

<div>

<h3
class="font-bold text-xl mb-5">

Programs

</h3>

<ul class="space-y-3">

<li>STEAM Education</li>
<li>Robotics</li>
<li>Artificial Intelligence</li>
<li>Internet of Things</li>
<li>Drone Technology</li>
<li>3D Printing</li>

</ul>

</div>

<!-- CONTACT -->

<div>

<h3
class="font-bold text-xl mb-5 ">

Contact

</h3>

<p class="mb-2" style="color: white;">

📞 +91 86186 30980

</p>

<p class="mb-2" style="color: white;">

📧 pmkulkarni@yantromitra.in

</p>

<p style="color: white;">

📍 Bengaluru, Karnataka

</p>
<br/>

<p style="color: white;">

    Office Hours

</p>
<p style="color: white;">

    Monday - Saturday

</p>
<p style="color: white;">

    9:00 AM - 6:00 PM

</p>




</div>

</div>

<!-- BOTTOM -->

<div
class="border-t border-gray-700 mt-12 pt-8 text-center text-gray-400">

© 2026 YantroMitra Learning Technologies Private limited

|

<a href="privacy.html">

Privacy Policy

</a>

|

<a href="terms.html">

Terms & Conditions

</a>

</div>

</div>

</footer>