<header class="fixed top-0 left-0 w-full py-2 z-50 bg-white/0">

    <div class="w-[90%] mx-auto px-8 py-2 bg-sun rounded-2xl">

        <div class="flex justify-between items-center h-18">

            <!-- LOGO -->

            <a href="index.html" class="flex items-center gap-3">

                <img src="assets/images/logo.png" alt="YantroMitra Logo" class="h-16 w-auto">

                        <span class="bg-sun text-dark px-4 py-2 rounded-full font-semibold">

                             Igniting Young Minds

                        </span>

                <div class="hidden md:block">

                    <h1 class="text-lg font-bold text-primary leading-tight">

                        YantroMitra

                    </h1>

                    <p class="text-xs text-gray-500">

                        Learning Technologies

                    </p>

                </div>

            </a>

            <!-- DESKTOP MENU -->

            <nav class="lg:flex items-center gap-8 text-gray-700 font-semibold text-xl">

               <a href="index.html" class="hover:text-primary transition">

                    Home

                </a>

                <a href="about.html" class="hover:text-primary transition">

                    About Us

                </a>
 
                <a href="gallery.html" class="hover:text-primary transition">

                    Gallery

                </a>

                <!-- <a href="contact.html" class="hover:text-primary transition">

                    Contact

                </a> -->

                <!-- CTA -->

                <a href="contact.html" class="bg-primary text-white px-6 py-3 rounded-xl hover:scale-105 transition">

                   Contact

                </a>

            </nav>

            <!-- MOBILE BUTTON -->

            <button id="menuBtn" class="lg:hidden text-4xl">

                ☰

            </button>

        </div>

    </div>

</header>

<!-- MOBILE MENU -->

<div id="mobileMenu" class="hidden fixed top-24 left-0 w-full bg-white shadow-xl z-40">

    <a href="index.html" class="block px-6 py-4 border-b">

        Home

    </a>

    <a href="about.html" class="block px-6 py-4 border-b">

        About Us

    </a>

    <a href="gallery.html" class="block px-6 py-4 border-b">

        Gallery

    </a>


    <a href="contact.html" class="block px-6 py-4">

        Contact

    </a>

</div>